NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA5K2M0eKFJ8AF6pRBBdqV-kZkqjtPISOc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=layl-eg.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=layl-eg
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=layl-eg.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=694760581886
NEXT_PUBLIC_FIREBASE_APP_ID=1:694760581886:web:eaee7af36599dc9c5293af
NEXT_PUBLIC_WHATSAPP_NUMBER=201000000000
NEXT_PUBLIC_SITE_URL=https://layl-eg.vercel.app
NEXT_PUBLIC_FACEBOOK_URL=#
NEXT_PUBLIC_INSTAGRAM_URL=#
NEXT_PUBLIC_TELEGRAM_URL=#
NEXT_PUBLIC_LINKEDIN_URL=#
