NEXT_PUBLIC_SITE_URL=https://your-domain.com
NEXT_PUBLIC_WHATSAPP_NUMBER=201148871999
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/profile.php?id=61590401590088
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/layl2026iii/
NEXT_PUBLIC_TELEGRAM_URL=https://t.me/Sarasoliman2810
NEXT_PUBLIC_TIKTOK_URL=https://www.tiktok.com/@layllayl182?is_from_webapp=1&sender_device=pc
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_TIKTOK_PIXEL_ID=
NEXT_PUBLIC_GA_ID=
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=
